
.page {
	display:flex;
	flex-direction: column;
	align-items: stretch;
}
 
a.nav-link {

	text-decoration: none;
}

a {

	color: black;
	color: #AEAEAE;
}

.main {

	display:flex;
}

.articles-date {

	font-family: 'Cantarell', sans-serif;
}

.body-header {

	font-family: 'Hind', sans-serif;
	font-size: .9em;
	color: #AEAEAE;
	margin-bottom: 30px;
}

hr {

	height: 1px;
    border: 0;
    border-top: 2px solid #F4F2F0;
    font-size: .8em;
    margin-top: 15px;
    margin-bottom: 30px
}

.content-title{

	padding: 0px;
	margin: 0px;

}

.date {

	color: #D3D3D3;
	font-size: .8em;

}

h1{
	font-size: 1.7em;
	padding: 0px;
	margin: 0px;
}

.main {

	display:flex;
	flex-direction: column;
	align-items: stretch;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Hind', sans-serif;
	font-size: 1.1em;
}

h2 {

	font-size: 1.8em;

}

li {

	list-style-type: square;
	color: black;

}
.header{

 	background: #404040;
 	font-family: 'Source Sans Pro', sans-serif;
 	color: white;
 	padding-left: 20px;
    padding: 40px;
}

.header-text{

	font-family: 'Hind', sans-serif;
	color: #8D8D8D;
	font-size: 1em;
}

.header-bottom{

 	background: #F4F2F0;
 	padding: 20px;
 	margin-bottom: 50px;
}

 .nav-link {
 	list-style-type: none;
 	float:right;
 	font-family: 'Hind', sans-serif;
 	color: #404040;
 	font-size: large;
 	padding-left: 15px;
}

 .head-right-icons{
 	float: left;
}

.fa-rss, .github, .fa-twitter {
	color: #F4F2F0;
}

.fa-circle, .fa-github{
	color: #CCCCCC;
}

.fa-lg{
	padding-right: 20px;
}

.articles-date {

font-family: 'Cantarell', sans-serif;
font-size: .9em;
}

