h1{
	font-size: 1.7em;
	padding: 0px;
	margin: 0px;
}

h2{

	font-size: 1.8em;
}

li{

	list-style-type: square;
	color: black;
}

a{

	color: black;
	color: #AEAEAE;
}

hr{

	height: 1px;
    border: 0;
    border-top: 2px solid #F4F2F0;
    font-size: .8em;
    margin-top: 15px;
    margin-bottom: 30px
}

a.nav-link{

	text-decoration: none;
}

a.nav-link:hover{

	color: #61B78A;
}

.page{
	display:flex;
	flex-direction: column;
	align-items: stretch;
}

.header{

 	background: #404040;
 	font-family: 'Source Sans Pro', sans-serif;
 	color: white;
 	padding-left: 20px;
    padding: 40px;
}

.header-text{

	font-family: 'Hind', sans-serif;
	color: #8D8D8D;
	font-size: 1em;
}

.header-bottom{

 	background: #F4F2F0;
 	padding: 20px;
 	margin-bottom: 50px;
}

 .nav-link{
 	list-style-type: none;
 	float:right;
 	font-family: 'Hind', sans-serif;
 	color: #404040;
 	font-size: large;
 	padding-left: 15px;
}


 .head-right-icons{
 	float: left;
 	font-size: 2.2em;
 	color: #D3D3D3;
}

.twitter-icon{
	margin-right: 15px;
}

.twitter-icon:hover{
	color: #42C0FB;
}

.github-icon{
	margin-right: 15px;
}

.github-icon:hover{

	color: #0D2636;
}

.rss-icon:hover{
	color: #E19126;
}

.main{

	display:flex;
	flex-direction: column;
	align-items: stretch;
	padding-left: 30px;
	padding-right: 30px;
}

.articles-date{

	font-family: 'Cantarell', sans-serif;
}

.body-header{

	font-family: 'Hind', sans-serif;
	font-size: .9em;
	color: #AEAEAE;
	margin-bottom: 30px;
}

.content-title{

	padding: 0px;
	margin: 0px;
}

.content-title:hover{

	color: #61B78A;
}

.date{

	color: #D3D3D3;
	font-size: .8em;
}


.post{

	font-family: 'Hind', sans-serif;
	font-size: 1.1em;
}

.articles-date{

	font-family: 'Cantarell', sans-serif;
	font-size: .9em;
}

.twitter-share{

	display:flex;
/*	flex-direction: row;*/
	align-items: center;
	background-color: #F4F2F0;
	font-family: 'Cantarell', sans-serif;
	font-size: .9em;

}

.twitter-share-icon{

	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.8em;
	color: #42C0FB;


}

.twitter-share-text{


}

