.clear{
	clear: both;
}

body{
	font-family: 'Hind', sans-serif;
}

h1{
	font-size: 1.7em;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
}

h2{

	font-size: 1.8em;
	font-family: 'Hind', sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
}

a{

	color: black;
	color: #AEAEAE;
}

a:hover{

	color: #61B78A;
}

a.nav-link{

	text-decoration: none;
}

.header{

 	background: #404040;
 	font-family: 'Source Sans Pro', sans-serif;
 	color: white;
 	padding-left: 20px;
    padding: 40px;
}

.left-header{

	float: left;
	position: absolute;
	position: relative;
	bottom: 5px;
}



.header-text{

	color: #8D8D8D;
	font-size: 1em;

}




.right-header{

	float: right;
	font-size: 1.7em;
	position: relative;
	top: 10px;
}


.head-left-icons{

 	font-size: 2.2em;
 	color: #D3D3D3;
 }

.head-links{


}

.header-bottom{

	display: flex;
	justify-content: space-between;
	padding-right: 30px;
	padding-left: 30px;
	align-items: center;
 	background: #F4F2F0;
 	box-shadow: 0px 3px 1px lightgrey;
 	overflow-x: hidden;
 	position: absolute;
 	transition: 0.3s;
 	right: 8.5px;
 	left: 8px;
 	height: 0px;
}


.header-bottom.home{

	margin-bottom: 0px;
}



.nav-link{
 	list-style-type: none;
 	color: #404040;
 	font-size: large;
 	padding-left: 15px;
}




.twitter-icon{
	margin-right: 15px;
}

.github-icon{
	margin-right: 15px;
}

.twitter-icon:hover{
	color: #42C0FB;
}

.github-icon:hover{

	color: #0D2636;
}

.rss-icon:hover{
	color: #E19126;
}

.hero_image {
    background-image: url("../images/hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    height: 250px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main{

	padding-left: 30px;
	padding-right: 30px;
}

.articles-date{

	font-family: 'Cantarell', sans-serif;

}

.body-header{

	font-size: .9em;
	color: #AEAEAE;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.date{

	color: #D3D3D3;
	font-size: .8em;
	padding-top: 15px;
	padding-bottom: 15px;
}

.post{

	font-size: 1.1em;
	border-top: solid 1px #D3D3D3;
	padding-bottom: 10px;
	
}

.articles-date{

	font-family: 'Roboto', sans-serif;
	font-size: .9em;
}

.footnotes{

	font-family: 'Cantarell', sans-serif;
	font-size: .8em;
	color: #888887;
	margin-bottom: 30px
}

.twitter-share{

	background-color: #F4F2F0;
	padding: 20px;
}

.twitter-share-text{

	color: #888887;
	font-size: .9em;
	font-family: 'Cantarell', sans-serif;
}

.twitter-share-icon{
	float: left;
	padding-right: 20px;
	font-size: 1.8em;
	color: #42C0FB;

}

a.twitter-share-text{

    top: 6px;
}

.twitter-share-text{

	text-decoration: underline;
	position: relative;
    top: 6px;
}

